{{#if addNewReply}}
<h1>Reply</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="body">Reply</label>
        {{input value=body id="body"}}
      </div>
      <button class="btn" {{action 'saveReply'}}>Submit</button>
    </form>
  </div>
{{else}}
  <button class="btn" {{action 'replyFormShow'}}>Reply</button>
{{/if}}
